.commentComposer {
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  background: var(--mantine-color-gray-0);
  padding: 12px 16px;
  width: 100%;
}

.formActions {
  display: flex;
  justify-content: flex-end;
}
