.container {
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
	margin: 0;
	padding: 1rem;
}

@media (min-width: 576px) {
	.grid {
		grid-template-columns: 2fr 8fr 2fr;
	}
}

.leftSidebar {
	padding: 1rem;
}

.center {
	padding: 1rem;
}

.rightSidebar {
	padding: 1rem;
}
